<ul>
  <% @bookmarks.each_with_index do |bookmark, index| %>
    <li>
      <a href = "<%=@bookmarks[index][0]%>" >
        <%=@bookmarks[index][1]%> 
      </a>   
    </li>
  <% end %>
  <a href='/bookmarks/new'><button>Add</button></a>
</ul>

<%= flash[:notice] %>

